
<h1>{{title}}</h1>

<form>
 
	<div class="center" >
        <h2>This is my MASTER branch</h2>
		
		Username <input  type="text" placeholder="Enter Username" name="username" [(ngModel)]="username"><br><br>
        

        
        Password <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password"><br><br>
         
    </div>
    
        <div class="input" class="center">

        <input type= "submit"  value="Login" (click)="LoginUser()">
        
        </div>
    </form>

